*,*::before,*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'sans-serif';
}

.wrapper{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to right,#7d02f0,#2626c4,#00d4ff);
    background-size: cover;
    background-position: center;
    display: grid;
    place-items: center;
}

.game-info{
    color:white;
    position:absolute;
    top:3rem;
    left:50%;
    transform:translateX(-50%);
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.25);
    padding: 0.5rem 3rem;
    /* text-align:center; */

}

.tic-tac-toe{
    width:90%;
    max-width:20rem;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.25);
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    aspect-ratio: 1/1;
}


.box{
    position:relative;
    width:100%;
    aspect-ratio: 1/1;
    cursor: pointer;
    font-size: 3rem;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box1, .box2, .box4, .box5{
    border-right:2px solid white;
    border-bottom:2px solid white;
}

.box3, .box6{
    border-bottom: 2px solid white;
}

.box7, .box8{
    border-right:2px solid white;
}

.btn{
    color:white;
    position: absolute;
    bottom:3rem;
    left:50%;
    transform:translateX(-50%);
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.25);
    padding: 0.5rem 2rem;
    cursor:pointer;
    display: none;
}

.btn.active{
    display: flex;
}

.win{
    background-color: rgba(0, 255, 0, 0.3);
}

.conclusion_window {
    position: fixed;
    top: 45%;
    left: 50%;
    translate: -50% -50%;
    border: 2px solid #ffffff59;
    width: 500px;
    scale: 0;
    background: #00000088;
    backdrop-filter: blur(10px);
    color: white;
    z-index: 1;
    border-radius: 20px;
    transition: 0.5s ease-in-out;
  }
  .modal-header {
    display: flex;
    margin-bottom: 25px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 12px;
  }
 .h1{
    display: flex;
     justify-content: center;
 }
  .conclusion_window-header div i {
    font-size: 30px;
  }
  .close {
    cursor: pointer;
  }
.overlay {
    position: fixed;
    background-color: #5f5f5f83;
    top: 0;
    opacity: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    transition: 0.5s ease-in-out;
  }
  .overlayactive {
    opacity: 1;
    pointer-events: initial;
  }
.active {
    scale: 1;
  }
form{
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
#player_info{
    position: absolute;
    top: 65%;
    left: 43%;
}
.conclusion{
    text-align: center;
}